@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1743131087874'); /* IE9*/
  src: url('icon.eot?t=1743131087874#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('icon.woff2?t=1743131087874') format('woff2'),
  url('icon.woff?t=1743131087874') format('woff'),
  url('icon.ttf?t=1743131087874') format('truetype'),
  url('icon.svg?t=1743131087874') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-aperture::before { content: "\ea01"; }
.icon-facebook::before { content: "\ea02"; }
.icon-fast-forward::before { content: "\ea03"; }
.icon-instagram::before { content: "\ea04"; }
.icon-linkedin::before { content: "\ea05"; }
.icon-mail::before { content: "\ea06"; }
.icon-youtube::before { content: "\ea07"; }


$icon-aperture: '\ea01';
$icon-facebook: '\ea02';
$icon-fast-forward: '\ea03';
$icon-instagram: '\ea04';
$icon-linkedin: '\ea05';
$icon-mail: '\ea06';
$icon-youtube: '\ea07';
